---
pagination:
    data: maps
    size: 1
    alias: map
permalink: "/{{ map.slug }}/index.html"
layout: "page.njk"
eleventyComputed:
    title: "{{ map.title }}"
---
<main>
<h1>{{ map.title }}</h1>
{% include "descriptions/" + (map.slug) + ".html" ignore missing %}
<nav>
    <a href="/{{ map.slug }}/map/">Karte öffnen</a><br>
    <a href="/">Zurück zur Übersicht</a>
</nav>
</main>