---
layout: page.njk
title: Urban Geodata
---

<main>
<h1>Urban Geodata</h1>
<p>
    Das urban geodata Projekt... TODO
</p>

{% for map in maps %}
<article class="map-card">
    <h2 class="u-align-h">
        <img src="https://placehold.co/100">
        <a href="/{{ map.slug }}">
            {{ map.title }}
        </a>
    </h2>
    <p>
        {{ map.teaser }}
    </p>
    <a href="/{{ map.slug }}/map">
        Karte öffnen
    </a>
</article>
{% endfor %}
</main>