---
layout: page.njk
title: Urban Geodata
---
<script data-goatcounter="https://urbangdt.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
<main class="overview">
<h1>Urban Geodata</h1>

<div lang="de">
    <h2>Projektidee</h2>
    <p>
        Historische thematische Kartenwerke enthalten umfangreiche, oft sehr detaillierte Informationen zu städtischen 
        Strukturen, allerdings können diese nicht für moderne Analyse eingesetzt werden. Der Grund dafür ist, dass die
        Bilddaten nicht in datenbankbasierten Geoinformationssystemen genützt werden können. Damit sind viele wertvolle 
        Datenbestände der Vergangenheit für die gegenwärtige Stadt- und Regionalforschung nicht nützbar. 
    </p>
    <p>
        Das enorme Potential dieser großmaßstäbigen Kartenwerke liegt darin, dass sie auf individueller Ebene (Ebene der 
        Gebäude oder Liegenschaften) detaillierte Informationen zur Bebauungsform und Nutzungsart enthalten. Somit erlauben 
        die in den historischen Karten gespeicherten Informationen, die langfristigen Strukturveränderungen im Stadtraum 
        abzubilden und mit modernen geostatistischen Analysen auszuwerten. Die vorliegenden Kartenwerke wurden zwischen den 
        1950er Jahren und den frühen 1990er Jahren von Elisabeth Lichtenberger koordiniert und wissenschaftlich begleitet.
    </p>
    <p>
        Das Ziel <a href="https://www.netidee.at/urbangeodata"> dieses Projekts</a>, das von der Internet Privatstiftung Austria gefördert worden ist, besteht darin, die Daten aus analogen 
        historischen, thematischen Kartenwerken für die Forschung aber auch für Planung und Praxis zur Verfügung zu stellen. 
    </p>

    <video width="640" height="360" controls>
        <source src="https://www.oeaw.ac.at/fileadmin/Institute/ISR/antrag.mp4" type="video/mp4" />
        Your browser does not support the video tag.
    </video>

    <h2>Umsetzung</h2>
    <p>
        Mit dem Projekt werden die in den Karten enthaltenen Informationen erstmals seit Jahrzehnten
        allgemein zugänglich gemacht und sind mit modernen GIS-Methoden verwertbar. 
        Sie ermöglichen es, den langfristigen Strukturwandel im Stadtraum sehr großmaßstäbig auf der Ebene von Gebäuden oder Häuserblöcken 
        und in weiterer Folge die langfristige Veränderung von  Nachbarschaften zu analysieren.
        Dazu werden die Kartenwerke eingescannt,
        georeferenziert und semiautomatisch vektorisiert - mehr dazu <a href= "https://github.com/m4x300/rgb_sampling">hier.</a>
    </p>
    <p>
        Die daraus generierten Geodaten können hier
        gesichtet, heruntergeladen und in andere Webkarten eingebettet werden:
    </p>
    <p>
        <a href="https://geo.isr.oeaw.ac.at/geoserver/ows?service=WMS&version=1.3.0&request=GetCapabilities">WMS GetCapabilities Link</a> 
        zur Einbettung der Kartenscans in andere Webapplikationen sowie in GIS-Software wie ArcGIS oder QGIS.
    </p>
    <p>
        <a href="https://geo.isr.oeaw.ac.at/geoserver/ows?service=WFS&acceptversions=2.0.0&request=GetCapabilities">WFS GetCapabilities Link</a> 
        zum Download/Weiterverarbeitung der Vektorisierungen.
    </p>
    <p>
        Folgende Kartenwerke wurden bis dato verarbeitet:
    </p>
</div>

<div lang="en">
    <h2>Project Idea</h2>
    <p>
        Historical thematic maps contain extensive, often very detailed information about urban structures, 
        but these cannot be used for modern analysis. The reason for this is that the image data cannot be used in 
        database-based geographic information systems.
        This means that many valuable data sets from the past cannot be used for current urban and regional research.
    </p>
    <p>
        The enormous potential of these large-scale maps lies in the fact that they contain detailed information on the form of development and type of use at the individual level (building or property level).
        contain detailed information on the type of development and use. This means that the information stored in the historical maps allows the analyses of long-term structural changes in the urban space 
        and to evaluate them using modern geostatistical analyses.
        The maps were coordinated and scientifically supervised by Elisabeth Lichtenberger between the 1950s and the early 1990s.
    <p>
        The aim <a href="https://www.netidee.at/urbangeodata">of this project</a>, which has been funded by the Internet Privatstiftung Austria, is to make the data from analog 
        historical, thematic map series avaliable for research, but also for planning and practice
    </p>

    <video width="640" height="360" controls>
        <source src="https://www.oeaw.ac.at/fileadmin/Institute/ISR/antrag.mp4" type="video/mp4" />
        Your browser does not support the video tag.
    </video>
    </p>
    <h2>Implementation</h2>
    <p>
        The project makes the information contained in the maps generally accessible for the first time in decades and can be used with modern GIS methods. 
        They make it possible to analyze long-term structural change in urban space on a very large scale at the level of buildings or blocks of houses 
        and subsequently to analyze long-term changes in neighborhoods.
        For this purpose, the maps are scanned,
        georeferenced and semi-automatically vectorized - more on that <a href="https://github.com/m4x300/rgb_sampling">here.</a>
    </p>
    <p>
        The geodata generated from this process can be can be viewed, downloaded and embedded in other web maps:
    </p>
    <p>
        <a href="https://geo.isr.oeaw.ac.at/geoserver/ows?service=WMS&version=1.3.0&request=GetCapabilities">WMS GetCapabilities Link</a> 
        for embedding the map scans in other web applications and in GIS software such as ArcGIS or QGIS.
    </p>
    <p>
        <a href="https://geo.isr.oeaw.ac.at/geoserver/ows?service=WFS&acceptversions=2.0.0&request=GetCapabilities">WFS GetCapabilities Link</a>
        to download/further process the vectorizations.
    </p>
    <p>
        So far the following maps have been processed:
    </p>

</div>

{% for map in maps %}
<article class="map-card">
    <img src="/{{ map.preview }}" width="160px" height="160px">
    <div class="map-card__content">
        <h2>
            <a href="/{{ map.slug }}">
                <span lang="de">{{ map.title.de }}</span>
                <span lang="en">{{ map.title.en }}</span>
            </a>
        </h2>
        <p>
            <span lang="de">{{ map.teaser.de }}</span>
            <span lang="en">{{ map.teaser.en }}</span>
        </p>
        <p>
            → 
            <a href="/{{ map.slug }}/map">
                <span lang="de">Karte öffnen</span>
                <span lang="en">Open Map</span>
            </a>
        </p>
    </div>
</article>
{% endfor %}
</main>
