---
pagination:
    data: maps
    size: 1
    alias: map
permalink: "/{{ map.slug }}/map/index.html"
layout: "page.njk"
eleventyComputed:
    title: "{{ map.title }}"
---

<link  rel="stylesheet" href="/node_modules/ol/ol.css" />

<div class="map-page">
  <main class="map-header u-align-h">
    <h1>{{ map.title }}</h1>
    <nav class="u-align-h u-flex-wrap">
      <a href="/{{ map.slug}}">Zur Beschreibung</a>
      <a href="/">Zur Übersicht</a>
    </nav>
  </main>

  <div class="map-map" id="map">
    <div class="map-blender">
      <h2>Hintergrund</h2>
      {% if map.wms.backdrop == "basemap" %}
        <label class="u-align-h">
          <input type="radio" name="backdrop" value="basemap" checked />
          Basemap Standard
        </label>
        <label class="u-align-h">
          <input type="radio" name="backdrop" value="basemapOrtho" />
          Basemap Orthofoto
        </label>
      {% else %}
        <label class="u-align-h">
          <input type="radio" name="backdrop" value="osm" checked disabled />
          OpenStreetMaps
        </label>
      {% endif %}

      <h2>Historische Karte</h2>
      <label class="u-align-h" title="Opazität des Daten-Layers">
        <img src="/img/contrast.svg" class="map-blender-icon">
        <span class="visually-hidden">Opazität des Daten-Layers</span>
        <input type="range" min="0" max="100" value="100" class="slider" id="ovl-trans">
      </label>
      <label class="u-align-h">
        <input type="checkbox" id="ovl-multiply" />
        Multiplizieren
      </label>

      {% if map.wms.vector %}
      <h2>Vektorlayer</h2>
      <label class="u-align-h">
        <input type="checkbox" id="ovl-vector" />
        anzeigen
      </label>
      <details>
        <summary>Legende</summary>
        <img class="map-legend" src="https://geo.isr.oeaw.ac.at/geoserver/wms?request=GetLegendGraphic&version=1.1.1&format=image/png&width=20&height=20&layer={{ map.wms.vector }}" />
      </details>
      {% endif %}
    </div>
  </div>
</div>

<script src="/node_modules/ol/dist/ol.js"></script>
<script>
    var wms = {{ map.wms | dump | safe }}
</script>
<script src="/js/map.js"></script>
