/* cabin-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/cabin-v27-latin-regular.woff2') format('woff2');
}

/* cabin-italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Cabin';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/cabin-v27-latin-italic.woff2') format('woff2');
}

/* cabin-600 - latin */
@font-face {
    font-display: swap;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/cabin-v27-latin-600.woff2') format('woff2');
}

/* lato-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/lato-v24-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lato-italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/lato-v24-latin-italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lato-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/lato-v24-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/** CSS Reset
 based on https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
video {
    margin: 2rem auto;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h1 {
    line-height: 1.1;
    text-wrap: balance;
}

/** Default styles */

:root {
    --rgb-blue: 79, 131, 176;
    --color-blue: rgb(var(--rgb-blue));
    --color-white: rgb(255, 255, 255);
    --color-gray: rgb(220, 220, 220);
    --color-gray-text: rgb(110, 110, 110);
    --color-primary: var(--color-blue);
    --color-primary--text: var(--color-white);

    --font-fallback: "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-display: Cabin, var(--font-fallback);
    --font-default: Lato, var(--font-fallback);

    font-size: 16px;
    font-family: var(--font-default);
}


h1,
h2,
h3,
h4 {
    font-family: var(--font-display);
}

a[href] {
    color: var(--color-primary);
}

* {
    accent-color: var(--color-primary);
}

p + p {
    margin-block-start: 1em;
}

main,
footer {
    width: 100%;
    max-width: 90ch;
    margin-inline: auto;
    padding-inline: 2ch;
    line-height: 2;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid var(--color-gray);
}

footer * {
    font-size: 0.8rem;
}

nav a,
footer a {
    font-family: var(--font-display);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

details summary, button, label {
    cursor: pointer;
}

/** Utilities */

.u-align-h {
    display: flex;
    align-items: center;
    gap: 1ch;
}

.u-flex-wrap {
    flex-wrap: wrap;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/** Element Styles */

/** Map Overview */

.overview h1 {
    margin: 2rem 0;
}
.map-card {
    display: flex;
    background-color: var(--color-primary);
    color: var(--color-primary--text);
    padding: 1rem;
    gap: 1rem
}
@media screen and (max-width: 600px) {
    .map-card {
        flex-direction: column;
    }
}

.map-card__content {
    display: flex;
    flex-direction: column;
}
.map-card__content > *:last-child {
    margin-block-start: auto;
}

.map-card a {
    color: var(--color-gray);
}

.map-card {
    margin: 1rem 0;
}

.source {
    font-size: 0.8rem;
    color: var(--color-gray-text);
}

/** Description pages */
.descr-page {
    margin-block-start: 2rem;
}
.descr-page h1 {
    margin-block-end: 1rem;
}

.descr-preview {
    margin: 0 0 1rem 0;
}
@media screen and (min-width: 600px) {
    .descr-preview {
        float: right;
        width: 33%;
        margin: 0 0 1rem 1rem;
    }
}

/** Map Page */
.map-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.map-header {
    flex: 0 0 auto;
    width: 100%;
}

.map-header h1 {
    margin-inline-end: auto;
}

.map-map {
    width: 100%;
    flex: 1 0 auto;
    position: relative;
}


/** Widget for Opacity and Blend Mode */

.map-blender {
    position: absolute;
    bottom: .5em;
    left: .5em;
    padding: 0.25rem 1ch;
    z-index: 100;
    background-color: white;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
}

.map-blender h2 {
    font-size: 0.8rem;
    margin-block: 0.5rem;
    text-transform: uppercase;
}

.map-blender-icon,
.map-blender input[type=checkbox] {
    width: 2ch;
}

.map-blender input[type=range] {
    width: 12ch;
}

.map-blender label+label {
    margin-block-start: 0.5rem;
}
