<p>
    In dem kurzen Zeitfenster, dem Übergang von der sozialistischen zur post-sozialistischen Ära fand in Bratislava eine
    Erhebung des baulichen Zustandes der barocken und gründerzeitlichen Bestands-stadt. Die Erhebung wurde in einem kurzen
    Zeitraum, zwischen Oktober und Dezember 1991 von Markus Seidl und Karin Vorauer durchgeführt. 
</p>
<p>
    Die Abgrenzung des Untersuchungsgebiets orientierte sich an der Dreiteilung der Stadt, nämlich der historischen Altstadt,
    die von einer vorgründerzeitlichen Parzellenstruktur geprägt ist, zweitens einer Bebauung aus der Zwischenkriegszeit, die
    unmittelbar daran anschließt und drittens die sozialistischen Stadterweiterungsgebiete. Die historische Altstadt, die im
    Zentrum dieser Erhebung stand, wurde auf Grundlage des historischen Plans von Johann Neyder aus 1820, abgegrenzt. Darüber
    hinaus wurde die gründerzeitliche Stadterweiterung in Richtung Nordosten erhoben (Abbil-dung 1). Im Untersuchungsgebiet waren
    zum Zeitpunkt der Erhebung 51 % der Gebäude der Vor-gründerzeit (vor 1840) zuzurechnen, 22,8 % der Gründerzeit (1840-1918),
    8,2 % der Zwischen- bzw. Kriegszeit (1919-1945) und 18 % der Nachkriegszeit (1946-1990).  
</p>
<p>
    Abbildung 1: Abgrenzung des Untersuchungsgebietes
</p>
<p>
    Die Erhebung umfasst insgesamt 406 Gebäude, wobei sich die Erfassung des baulichen Zustandes an der Typologie der Wiener
    Erhebung (> Link zur Li) orientiert: einerseits dem Stadtverfall (5 Kate-gorien) und der Stadterneuerung (2 Kategorien).
    Die Kategorie „gute Bausubstanz“ fehlte in der Erhebung, vermutlich mangels entsprechender Objekte. Darüber hinaus wurde
    in der Erhebung umfangreiche Daten auf Ebene der Gebäude erhoben: das Baualter, die Geschoßanzahl sowie die Zahl der
    Fensterachsen der Gebäude, Ausstattungsmerkmale (Aufzuge, Pawlatschen) sowie die Nutzungsart der Gebäude. 
</p>
<p class="source">
    Quellen: 
    Seidl., M. & Vorauer, K. (1992): Stadtgeographische Analyse einer postsozialistischen Stadt. Das Beispiel Bratislavas.
    Diplomarbeit, Universität Wien.<br>
    Seidl, M. (1993): Stadtverfall in Bratislava. ISR-Forschungsbericht, Band 9. Verlag der ÖAW, Wien.
</p>
