<p>
    The historic building fabric in Eastern European cities was in a poor state of repair in the years of reunification around 1990.
structural condition. Socialist urban development focused primarily on new construction in the form of prefabricated housing estates, while measures to renovate the historic building fabric played virtually no role. In the
1990s, the potential of this building stock was recognized and extensive refurbishment measures began.
</p>

<p>
    In the short time frame of the transition from the socialist to the post-socialist era,
    a survey of the structural condition of the existing baroque and founder's period (Gründerzeit) city was carried out in Bratislava. 
    The survey was conducted between October and December 1991.
</p>
<p>
    The boundaries of the study area were based on the tripartite division of the city, namely the historic old town,
    which is characterized by a pre-Founder's period parcel structure, secondly a development from the interwar period that immediately adjacent to it and thirdly, 
    the socialist urban expansion areas. The historic old town, which was at the    
    center of this survey, was demarcated on the basis of Johann Neyder's historical plan from 1820.
    In addition, the Gründerzeit urban expansion towards the north-east was surveyed. In the survey area    
    At the time of the survey, 51 % of the buildings were from the pre-Founder's period (before 1840), 22.8 % from the Gründerzeit (1840-1918),    
    8.2 % of the interwar period (1919-1945) and 18 % of the post-war period (1946-1990).
</p>
<p>
    The survey covers a total of ~400 buildings, with the structural condition being recorded according to the typology of the Vienna
    survey: urban decay (5 categories) and urban renewal (2 categories).    
    The category "good condition" was missing from the survey, presumably due to a lack of corresponding properties. 
</p>

<p>
    <picture>
        <source srcset="/img/bratislava_untersuchungsgebiet.webp" type="image/webp">
        <img src="/img/bratislava_untersuchungsgebiet.png" alt="Map of the study area">
    </picture>
    Study area
</p>
<p class="source">
    Quellen: 
    Seidl., M. & Vorauer, K. (1992): Stadtgeographische Analyse einer postsozialistischen Stadt. Das Beispiel Bratislavas.
    Diplomarbeit, Universität Wien.<br>
    Seidl, M. (1993): Stadtverfall in Bratislava. ISR-Forschungsbericht, Band 9. Verlag der ÖAW, Wien.<br>
    Vorauer, K. (1993): Gesellschaftspolitische Rahmenbedingungen und Tendenzen im Einzelhandel an der Wende vom Plan zum Markt. Das Beispiel Bratislava. Geographischer Jahresbericht aus Österreich 50, Universität Wien.
</p>
