<p>
    Die historische Bausubstanz in den osteuropäischen Städten war in den Wendejahren, um 1990, in einem schlechten
    baulichen Zustand. Der sozialistische Städtebau richtete sein Augenmerk vor allem auf den Neubau in Form von Plattenbausiedlungen, 
    während Maßnahmen zur Erneuerung der historischen Bausubstanz defacto keine Rolle spielten. Im
    Laufe der 1990er Jahre wurde das Potential dieses Gebäudebestandes erkannt, und es setzten umfangreiche
    Sanierungsmaßnahmen ein.
</p>

<p>
    In dem kurzen Zeitfenster des Übergangs von der sozialistischen zur post-sozialistischen Ära wurde in Bratislava eine
    Erhebung des baulichen Zustandes der barocken und gründerzeitlichen Bestandsstadt durchgeführt. Die Erhebung wurde fand 
    zwischen Oktober und Dezember 1991 statt.
</p>
<p>
    Die Abgrenzung des Untersuchungsgebiets orientierte sich an der Dreiteilung der Stadt, nämlich der historischen Altstadt,
    die von einer vorgründerzeitlichen Parzellenstruktur geprägt ist, zweitens einer Bebauung aus der Zwischenkriegszeit, die
    unmittelbar daran anschließt und drittens die sozialistischen Stadterweiterungsgebiete. Die historische Altstadt, die im
    Zentrum dieser Erhebung stand, wurde auf Grundlage des historischen Plans von Johann Neyder aus 1820, abgegrenzt. Darüber
    hinaus wurde die gründerzeitliche Stadterweiterung in Richtung Nordosten erhoben. Im Untersuchungsgebiet waren
    zum Zeitpunkt der Erhebung 51 % der Gebäude der Vor-gründerzeit (vor 1840) zuzurechnen, 22,8 % der Gründerzeit (1840-1918),
    8,2 % der Zwischen- bzw. Kriegszeit (1919-1945) und 18 % der Nachkriegszeit (1946-1990).  
</p>
<p>
    Die Erhebung umfasst insgesamt 406 Gebäude, wobei sich die Erfassung des baulichen Zustandes an der Typologie der Wiener
    Erhebung orientiert: einerseits dem Stadtverfall (5 Kategorien) und der Stadterneuerung (2 Kategorien).
    Die Kategorie „gute Bausubstanz“ fehlte in der Erhebung, vermutlich mangels entsprechender Objekte.
</p>

<p>
    <img src="/img/bratislava_untersuchungsgebiet.png">
    Untersuchungsgebiet
</p>
<p class="source">
    Quellen: 
    Seidl., M. & Vorauer, K. (1992): Stadtgeographische Analyse einer postsozialistischen Stadt. Das Beispiel Bratislavas.
    Diplomarbeit, Universität Wien.<br>
    Seidl, M. (1993): Stadtverfall in Bratislava. ISR-Forschungsbericht, Band 9. Verlag der ÖAW, Wien.<br>
    Vorauer, K. (1993): Gesellschaftspolitische Rahmenbedingungen und Tendenzen im Einzelhandel an der Wende vom Plan zum Markt. Das Beispiel Bratislava. Geographischer Jahresbericht aus Österreich 50, Universität Wien.
</p>
