<p>
    Die „Geographische Strukturanalyse Wien“ geht nicht auf eine eigene Kartierung zurück, sondern stellt eine Aggregation der „Stadtkartierung Wien 1955-1958“ dar.
    Dabei wurden die Informationen von der ursprünglich auf Gebäudeebene erhobenen Daten auf die Baublockebene übertragen. 
</p>
<p>
    Mit der räumlichen Verdichtung des ursprünglichen Kartenwerks geht jedoch eine stärkere funktionale Differenzierung
    einher. Die Hauptkategorien blieben gleich, wurden aber stärker differenziert, wie sich in der sehr umfangreichen
    Legende der Karte zeigt:
</p>
<p>
    <picture>
        <source srcset="/img/strukturanalyse_legende.webp" type="image/webp">
        <img src="/img/strukturanalyse_legende.png" alt="Lengende Strukturanalyse">
    </picture>
</p>
<p>
    In dem Kartenwerk wurde in der Kategorie „Reihenhausverbauung des
    geschlossenen Stadtgebietes“ nicht nur die Bauperiode und der Bautypus, sondern auch der Verbauungsgrad
    (Bebauungsdichte) sowie die Bauhöhe dargestellt. Ebenso wurde die Typologie „Verbauung des Stadtrandes“ von 14
    Kategorien (in der Stadtkartierung) auf 40 Kategorien erweitert; insbesondere in den Kategorien „Ungeplante
    Stadtrandsiedlungen“ sowie die Schrebergärten („Übergänge von Schrebergärten zu Siedlungshausgebieten nach dem 1.
    Weltkrieg“). Auch wenn eine entsprechende Dokumentation nicht verfügbar ist, kann es als wahrscheinlich gelten,
    dass ergänzende Erhebungen durchgeführt worden sind.
</p>
<p>
    Das Kartenwerk im Maßstab 1:10.000 wird im Archiv der ÖAW verwahrt, es besteht aus 21 Kartenblättern. Wie auch bei
    der „Stadtkartierung Wien“ wurden die Flächensignaturen handkoloriert oder durch handschriftliche Flächensignaturen
    gestaltet.
</p>
