<p>Die Karte "budapest" wurde....<p>
<p>
    Die historische Bausubstanz in den osteuropäischen Städten war in den Wendejahren, um 1990, in einem schlechten baulichen Zustand. Der sozialistische Städtebau richtete sein Augenmerk vor allem auf den Neubau in Form von Plattenbausiedlungen, während Maßnahmen zur Erneuerung der historischen Bausubstanz defacto keine Rolle spielten. Im Laufe der 1990er Jahre wurden das Potential dieses Gebäudebestandes erkannt, und es setzten umfangreiche Sanierungsmaßnahmen ein. 
</p>
<p>
    In den ersten Jahren nach der Wende fand in Budapest eine Bewertung des baulichen Zustandes der Bestandsstadt statt. Die Erhebung wurde zwischen Oktober 1993 und Jänner 1994 unter der wissenschaftlichen Leitung von Elisabeth Lichtenberger durchgeführt. Die Erhebung des baulichen Zustandes erfolgte in drei Schritten:
</p>
<p>
    Die Abgrenzung des Untersuchungsgebiets orientierte ähnlich der Wiener Kartierung an den von der Stadt definierten Sanierungsgebieten; in Budapest erfolgte eine Erhebung des „Stadtrehablita-tionsgebietes“, das Teile der Bezirke 5 bis 9 umfasst.
</p>