<p>
    Die gründerzeitliche Bausubstanz im Wien der 1970er und 1980er Jahre war von zunehmenden Verfallserscheinungen
    geprägt, die auf den jahrzehntelangen Mangel an privaten Erhaltungsinvestitionen zurückzuführen ist. Vor diesem
    Grund wurde 1974 in Wien das Programm der Sanften Stadterneuerung ins Leben gerufen, mit dem durch öffentliche
    Förderungen den Hauseigentü-mern Anreize geboten wurden, die Bausubstanz zu erhalten bzw. aufzuwerten.
</p>
<p>
    Vor diesem Hintergrund hat Elisabeth Lichtenberger zwischen 1982 und 1989 mit Studierenden des Instituts für
    Geographie und Regionalforschung (damals Institut für Geographie) der Universität Wien eine umfassende Erhebung des
    baulichen Zustandes der Wiener Gründerzeit vorgenommen. Die Abgrenzung des Untersuchungsgebietes (siehe unten)
    basierte auf dem Stadtatlas von Wien aus den Jahren 1955 – 1965, der ebenfalls am Institut für Geographie entwickelt
    worden ist. Die Kartierung des Gebäudebestandes erfolgte auf Ebene der individuellen Gebäude, wobei die Durchführung
    der Erhebung auf Ebene der Zählsprengel organisiert wurde. Die Kartierung umfasst 90 der insgesamt 250 Wiener
    Zählsprengel. Die Zählsprengel sowie deren Erhebungsjahr ist ebenfalls in der Vektorisierung hinterlegt.
</p>
<p>
    <img src="/img/wien_erhebungsjahre.png" alt="Erhebungsjahre auf Basis von Zählsprengel">
</p>
<p>
    Um das Phänomen von Stadtverfall und Stadterneuerung auf Ebene der individuellen Wohngebäude adäquat zu erfassen, wurde
    eine sehr einfache Typologie entwickelt. Dies war auch deshalb notwendig, um die Erhebung nicht zusehr in die Länge zu
    ziehen und um die Vergleichbarkeit der Raumeinheiten zu gewährleisten. Die Erhebungskategorien bezeichnet Elisabeth
    Lichtenberger (1990) als einem „polarisierten Bauzustandsmodell“, in dem erstens die graduellen Formen des Stadtverfalls
    (fünf Kategorien), zweitens der Erneuerung des Baubestandes (zwei Kategorien), sowie drittens die gute Bausubstanz
    (zwei Kategorien) abgebildet sind.
</p>
<p>
    Die von den Studierenden durchgeführten Erhebungen wurden in Straßenlisten gesammelt und in zwei Schritten zuerst in eine
    Stadtkarte (Maßstab 1:2000) und später in die Karte im Maßstab 1:10.000 übertragen. Dieses Endprodukt bildet die Grundlage
    für die Vektorisierung in dem Projekt urban_geodata. 
    Das vorliegende Kartenwerk umfasst den baulichen Zustand von 28.384 Wohngebäuden aus den 1980er Jahren. Jener Dekade vor
    dem Fall des Eisernen Vorhanges, in der Wien von einer Stagnation geprägt war, die sich nicht nur deutlich in der
    demographischen Entwicklung, sondern auch am gründerzeitlichen Wohnungsmarkt gezeigt hat. Der Wert, den dieses historische
    Kartenwerk für die heutige Forschung darstellt, ergibt sich aus dem Umstand, dass der bauliche Zustand der Gründerzeitstadt
    in einer interessanten städtebaulichen Periode mit hoher Detailgenauigkeit erfasst worden ist. 
 </p>
 <p class="source">
    Quelle: Lichtenberger, E. (1990): Stadtverfall und Stadterneuerung. Beiträge zur Stadt- und Regionalforschung, Band 10. Verlag
    der ÖAW, Wien.
</p>
