<p>
    Die historische Bausubstanz in den osteuropäischen Städten war in den Wendejahren, um 1990, in einem schlechten
    baulichen Zustand. Der sozialistische Städtebau richtete sein Augenmerk vor allem auf den Neubau in Form von
    Plattenbausiedlungen, während Maßnahmen zur Erneuerung der historischen Bausubstanz defacto keine Rolle spielten. Im
    Laufe der 1990er Jahre wurden das Potential dieses Gebäudebestandes erkannt, und es setzten umfangreiche
    Sanierungsmaßnahmen ein.
</p>
<p>
    In den ersten Jahren nach der Wende fand in Budapest eine Bewertung des baulichen Zustandes der Bestandsstadt statt.
    Die Erhebung wurde zwischen Oktober 1993 und Jänner 1994 unter der wissenschaftlichen Leitung von Elisabeth
    Lichtenberger durchgeführt. Die Erhebung des baulichen Zustandes erfolgte in drei Schritten:
</p>
<p>
    Die Abgrenzung des Untersuchungsgebiets orientierte ähnlich der Wiener Kartierung an den von der Stadt definierten
    Sanierungsgebieten; in Budapest erfolgte eine Erhebung des „Stadtrehablitationsgebietes“, das Teile der Bezirke 5
    bis 9 umfasst.
</p>
<p>
    Die Erhebungskategorien orientierten sich ebenfalls an der einfachen, in Wien angewendeten Typologie: Stadtverfall
    (5 Kategorien), Stadterneuerung (3 Kategorien) sowie Altbaubestand in Ordnung (2 Kategorien). Dennoch variieren die
    Kategorien leicht von der Wiener Erhebung, da das Problem des Stadtverfalls aufgrund der fehlenden Bestandsinvestitionen
    in Budapest viel größer war als in Wien. Umgekehrt spielte der Leerstand anders als in Wien in der gründerzeitlichen 
    Bestandsstadt von Budapest keine besonders große Rolle.
    Die Ergebnisse der Erhebung des baulichen Zustandes wurden in ein Kartenwerk im Maßstab 1:xxxxx10.000 zusammengeführt. 
    Die analoge Karte, die im Rahmen dieses Projektes vektorisiert wurde, umfasst insgesamt 7114 Gebäude.
</p>
<p class="source">
    Quelle:
    Lichtenberger E., Csefalvay Z. & Paal M. (1994): Stadtverfall und Stadterneuerung in Budapest.
    Beiträge zur Stadt- und Regionalforschung, Band 12. Verlag der ÖAW, Wien.
</p>
